.modal {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    margin-left: -200px;
    margin-top: -150px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 0 0 9999px black;
}
.active {
     display: block;
 }